/* override table width restrictions */
@media screen and (min-width: 767px) {
    .wy-table-responsive table td, .wy-table-responsive table th {
        /* !important prevents the common CSS stylesheets from
           overriding this as on RTD they are loaded after this stylesheet */
        white-space: normal !important;
    }

    .wy-table-responsive {
        overflow: visible !important;
    }
}

.rst-content div[class^="highlight"] {
    border: 0 none;
    margin-top: 0;
}

.rst-content div[class^="highlight"] pre {
    line-height: 1.09;
}

.rst-content img.align-center {
    margin: 0 auto 24px auto;
}
